language: objective-c

cache:
  directories:
  - $HOME/macports-ci-cache

matrix:
  include:
# test all images installing in default location
  - osx_image: xcode7.3
    env: OPT=--sync=rsync
  - osx_image: xcode8
    env: OPT=--sync=rsync
  - osx_image: xcode8.1
    env: OPT=--sync=rsync
  - osx_image: xcode8.2
    env: OPT=--sync=rsync
  - osx_image: xcode8.3
    env: OPT=--sync=rsync
# test all images installing in $HOME/opt
  - osx_image: xcode7.3
    env: PRE=$HOME/opt OPT=--sync=rsync
  - osx_image: xcode8
    env: PRE=$HOME/opt OPT=--sync=rsync
  - osx_image: xcode8.1
    env: PRE=$HOME/opt OPT=--sync=rsync
  - osx_image: xcode8.2
    env: PRE=$HOME/opt OPT=--sync=rsync
  - osx_image: xcode8.3
    env: PRE=$HOME/opt OPT=--sync=rsync
# test latest image in default location with a different sync mode
  - osx_image: xcode8.3
    env: OPT=--sync=rsync

script:
# this is required for curl to work correctly:
  - export COLUMNS=80
  - if test -z "$PRE" ; then PRE=/opt/local ; fi
  - ./macports-ci install --prefix="$PRE" $OPT
  - PATH="$PRE/bin:$PATH"
  - which port
# install a small port for test:
  - sudo port -N install xdrfile
  - sudo port -N uninstall xdrfile
  - ./macports-ci localports test_portfiles
# install a small local port for test:
  - sudo port -N install xdrfile1
